@* Defines the Route that will direct you to this page *@
@page "/great-examples"

@* This is what's going to display in your browser tab/window as the tab/window's title. *@
<PageTitle>@PageTitle</PageTitle>

@* This is just the regular old HTML we are using to display the given text on the page. *@
<h1>Blazor Examples Page</h1>
<p>View all of our examples from our lessons here!</p>